@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased transition-colors duration-300;
  }
}

/* Hide scrollbars but keep scroll functionality */
/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For IE and Edge Legacy */
* {
  -ms-overflow-style: none;
}

/* Ensure scroll functionality remains */
html,
body {
  overflow: auto;
}